<div class="container login-form content-body">
    <div class="panel-body">
        <% extend('../layout') %>
        <h1><%=title%></h1>
        <p>Welcome to <%=title%></p>
        <a href="javascript:;" id="getFbImages">Get images from facebook</a>
    </div>
</div>

<div style="display:none;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Your Facebook Images</h4>
          </div>
          <div class="modal-body">
            <div class="row">
            <div class="col-sm-12">
                <ul class="photos">

                </ul>
            </div>
        </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pop-up-buttons" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary save-fb-images pop-up-buttons">Save changes</button> -->
          </div>
        </div>
      </div>
</div>
