<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="./stylesheets/externalcss/bootstrap.min.css">
        <link rel="stylesheet" href="./stylesheets/externalcss/font-awesome.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="./javascripts/externaljs/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./javascripts/facebook.js"></script>
        <script src="./javascripts/scripts.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="main-content">
            <% include header/header %>
            <%- content %>
            <% include footer/footer %>
        </div>
    </body>
</html>
